body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

nav ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #4b4bd4;
}

nav li {
    float: left;
}

nav li:last-child {
    border-right: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-right: 1px solid white;
}

nav a:hover {
    background-color: #3535b0;
}

article h1 {
    margin-bottom: 10px;
}

article h2 {
    margin-top: 10px;
}

aside ol {
    list-style-type: upper-roman;
}

aside ul {
    list-style-type: square;
}